<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Thymeleaf in action</title>
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container section">
    <h3 th:text="${userModel.title}"></h3>
    <div>
        <a class="btn btn-primary" href="/users/form.html" th:href="@{/users/form}">创建用户</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Email</td>
            <td>Name</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${userModel.userList.size()} eq 0">
            <td colspan="3">没有用户信息！</td>
        </tr>
        <tr th:each="user : ${userModel.userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{'/users/'+${user.id}}" th:text="${user.name}">fdaf</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>